##
# Systemd service for LKRG (main branch)
#
# Author:
#  - Adam 'pi3' Zabrocki (http://pi3.com.pl)
##

[Unit]
Description=Linux Kernel Runtime Guard
After=basic.target
Before=network.target

[Service]
Type=simple
ExecStart=/sbin/modprobe p_lkrg
ExecStop=/sbin/rmmod p_lkrg
RemainAfterExit=yes
Restart=on-failure

[Install]
WantedBy=multi-user.target

